<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>hdcms</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/hdjs/hdjs.css"/>
    <link rel="stylesheet" type="text/css" href="__CONTROLLER_VIEW__/Css/welcome.css">
</head>
<body>
<div class="wrap">
    <div class="hd-title-header">温馨提示</div>
    <table class="hd-table hd-table-list">
        <tr>
            <td style="color:red">
                欢迎回来sjt
            </td>
            <td>
            	|
            </td>
            <td>
            	现在时间<?php echo date('Y-m-d H:m:s',time())?>
            </td>
        </tr>
    </table>

    <div style="height:10px;overflow: hidden">&nbsp;</div>
    <div style="height:10px;overflow: hidden">&nbsp;</div>
    <div class="hd-title-header">系统信息</div>
    <table class="hd-table hd-table-list">
        <tr>
            <td class="w80">核心框架</td>
            <td>
                <a href="http://www.laruence.com/manual/" target="_blank">Yaf</a>
            </td>
        </tr>
        <tr>
            <td>PHP版本</td>
            <td>
                PHP5.3
            </td>
        </tr>
        <tr>
            <td>运行环境</td>
            <td>
                linux
            </td>
        </tr>
    </table>
    <div style="height:10px;overflow: hidden">&nbsp;</div>

    <div style="height:10px;overflow: hidden">&nbsp;</div>

</div>
</body>
</html>