<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://sunjc.me/Public/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://sunjc.me/Public/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://sunjc.me/Public/css/index.css">
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>

				<!-- 顶部开始 -->
	<div id='nav'>
		<ul>
			<li><a href="http://sunjc.me" class="one">首页</a></li>
			<li><a href="http://sunjc.me/index/index/list">博文</a></li>
			<li><a href="http://user.qzone.qq.com/1733687295">Qzone</a></li>	
		</ul>
	</div>
