<!-- 最近文章 -->
			<div id="right" class="col-md-4">
					最近文章
					<ul
							<?php foreach ($new as $v){ ?>
							<li style=""><a href="http://sjt.com/index/index/article/aid/<?php echo $v['aid']?>"><?php echo $v['title']?></a></li><li style = "float: right"><?php echo date('Y-m-d',$v['time'])?></li><br>
						<?php } ?>
						
					</ul>
			</div>
			<!-- 博文分类  -->
			<div id="right" class="col-md-4">
					博文分类
					<ul>
						<?php foreach ($cate as $v){ ?>
							<li><a href="http://sjt.com/index/index/list/cid/<?php echo $v['cid']?>"><?php echo $v['cname']?></a></li>
						<?php } ?>
					</ul>
			</div>
			<!-- 标签云  -->
			<div id="right" class="col-md-4">
					标签云
					<ul>
						<?php foreach ($tag as $v){ ?>
							<li><a href="http://sjt.com/index/index/list/tid/<?php echo $v['tid']?>"><?php echo $v['tname']?></a></li>
						<?php } ?> 
						<li>...</li>
					</ul>
			</div>