<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>文章管理</title>
    <link rel="stylesheet" type="text/css" href="http://sunjc.me/public/css/hdjs.css"/>
</head>
<body>
<div class="wrap">
    <table class="hd-table hd-table-list">
        <thead>
        <tr>
            <td width="20">玩家编号</td>
            <td width="150">身份</td>
        </tr>
        </thead>
        <tbody>
        	<?php foreach($result as $k => $v){?>
	            <tr>
		            <td width="20"><?php echo $k+1;?></td>
		            <td width="150"><p><?php echo $v[1]?></p><img style="width:30px;height:30px" src="http://sunjc.me/public/images/<?php echo $v[0];?>.jpg" alt="" /></td>	
		            
	        	</tr>
	        <?php }?>
        </tbody>
    </table>
    <a href="http://sunjc.me/langren/index/index">返回</a>
</div>

</body>
</html>
 

